
{% extends 'Theme.html' %}

{% block content %}
<style>
    body {
            background-image: url('https://wallpaperaccess.com/full/1808558.jpg'); /* Replace with the image URL */
            background-size:cover; /* Make the image cover the entire page */
            position: relative;
            backdrop-filter: blur(20px);
    }
        
        /* 
        .body::before {
  content: '';
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  backdrop-filter: blur(50px);
} */


</style>
<h3 class="d-flex justify-content-center mb-5 mt-2"> Your Cart is Empty..</h3>
<table class="table">
    <thead>
    <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>Action</th>
    </tr>
    </thead>
{% endblock %}

