{% extends 'Theme.html' %}

{% block main %}
<style>
.gradient-custom {
/* fallback for old browsers */
background: #f093fb;


/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}
body
{
  /* fallback for old browsers */
  background: #f093fb;
  
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgb(159, 121, 167))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
</style>
            
            {% if error %}
           
            <div class="alert alert-danger alert-dismissible fade show m-2" role="alert">
                <strong>{{error}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% elif success %}
            <div class="alert alert-success alert-dismissible fade show m-2" role="alert">
                <strong>{{success}}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}

<section class="vh-100 gradient-custom">
  
    <div class="row justify-content-center align-items-center h-100">
    
        <center>
        <div class="card " style="border-radius: 15px;width: 600px;">
          <div class="card-body  p-md-5" style="padding-left: 50px;">
            <h3 class=" pb-md-0 md-5">Registration Form</h3>
          <hr>
            <form method="POST" >
              <div class="row">
                <div class="col-md-12 ">
                {% csrf_token %}
                <div data-mdb-input-init class="form-outline">
                    <input type="text" id="fn" name="fn" class="form-control " />
                    <label class="form-label" for="fn">First Name*</label>
                  </div>
                
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="ln" name="ln" class="form-control " />
                    <label class="form-label" for="ln">Last Name*</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="email" name="email" class="form-control" />
                    <label class="form-label" for="email">Your Email*</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline">
                    <input type="number" id="mobile" name="mobile" class="form-control " />
                    <label class="form-label" for="mobile">Mobile Number*{10 Digits}</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline ">
                    <input type="password" id="password" name="password" class="form-control " />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  </div>
                <div class="form-gorup only-button  " style="padding-left: 25px;">
                    
                    <input type="submit" value="singup" class="btn btn-primary" style="width: 40%;">
                </div>
                  </form>
                  <p class="text-center text-muted ">Have already an account? 
                    <a href="{% url 'login_user' %}" style="color: blue;">
                  
                     Login here</a></p>
        </div>
    </div>
  </div>
</div>
</center>
</div>
</div>
</section>
 {% endblock %}